body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}
#fireworks {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
}

#smokeMouseCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0 !important;
    background-color: transparent;
}

.transparent {
    -webkit-text-stroke: 1.3px white;
    letter-spacing: 1.125px;
    mix-blend-mode: color-dodge;
}

.transparent-wheat {
    -webkit-text-stroke: 1.3px wheat;
    letter-spacing: 1.125px;
    mix-blend-mode: color-dodge;
}

.transparent-purple {
    -webkit-text-stroke: 1.3px plum;
    letter-spacing: 1.125px;
    mix-blend-mode: color-dodge;
}

.transparent-hotpink {
    -webkit-text-stroke: 1.3px hotpink;
    letter-spacing: 1.125px;
    mix-blend-mode: color-dodge;
}

#title {
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: -webkit-xxx-large;
    font-weight: 900;
    z-index: 1 !important;
    /* -moz-user-select: none; */
    user-select: none;
    /* -ms-user-select: none;
    -khtml-user-select: none; */
}

#intensity {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 2 !important;
    font-size: xx-large;
    font-weight: 900;
}

#hint {
    position: absolute;
    left: 6%;
    bottom: 2%;
    z-index: 1 !important;
    font-size: x-large;
    font-weight: 500;
    transform: rotate(35deg);
}


#dragon {
    position: absolute;
    left: 0%;
    top: 2%;
    z-index: 1 !important;
    display: inline-block;
    text-align: left;
    user-select: none;
}

#dragon-west {
    position: absolute;
    right: 0%;
    top: 1%;
    z-index: 1 !important;
    display: inline-block;
    text-align: left;
    user-select: none;
    font-weight: 500;
}

#wishes {
    position: absolute;
    right: 7%;
    bottom: 1%;
    z-index: 1 !important;
    user-select: none;
    font-size: x-large;
    font-weight: 500;
}